*{
    box-sizing: border-box;
}
:root{
    --whitesmoke:#f5f5f5;
    --black:black
}
.all{
    display: block;
}
.all:active{
    display: none;
}
a{
    text-decoration: none;
}
.main_logo{
    /* float: left; */
    /* position: absolute; */
    width: 60px;
    height: auto;
    top:0px;
    bottom: 0px;
    left: 30px;
    /* margin: 13px; */
    border-radius: 50%;
}
.nav{
    /* margin: 10px;  */
    margin-top: 0;
    position: fixed;
    top: 0;
    /* width: 100%; */
    z-index: 1000;
    /* background-color: red; */
    border-top: none;
    height: 80px;
    /* padding: 20px; */
    margin: auto;
}
.nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
    background-color: var(--black);
    height: 70px;
    
    margin-right: 500px;
    margin-top: 0px;
    padding: 40px;
}
.nav > ul > a >li{

    font-size: 20px;
    color: white;
    list-style: none;
    height: 40px;
    
}
.nav a {
    color: var( --whitesmoke);
}
.nav > ul >li{
    font-size: 20px;
    color: white;
    list-style: none;
    
}
.nav  a:hover{
    color: #f69b23;
}
.search{
  outline: none;

    width: 300px;
    height:33px;
    vertical-align:middle;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.logo{
    border: 2px solid;
}
.logo > img {
    width: 30px;
    height:30px;
    padding: 0px;
}
.fav_logo {
    width: 50px;
    height: 20px;
}
.fav_logo > img{
    height: 30px;
    padding: 0px;
}
.container{
    top: 80;
}
.nav-container{
display: block;
  background-color:none;
  
  padding: 10px;
  width: 95%;
  margin: 10px;
  /* border-radius: 20px; */
  height: 60px;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  margin-top:90px;
}

.nav-container  > div {
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    margin: 0px 10px;
    color: orange;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 25px;
    letter-spacing: 2px;
   font-weight: bold; 
   color: #212121;
   /* margin: 10px; */
   padding: 10px;
   background-color: orange;
   border-radius: 5px;

  }
  .sort{
    float: left;
    width: auto;
    border-radius: 5px;
}

.filter{
    float: left;
  width: auto;
  border-radius: 5px;
}
.searchResult{
    float: left;
  width: auto;
  border-radius: 5px;
  padding: 7px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0px;
    /* border-radius: 20px; */
    justify-content: center;
    
  }
  
.dropdown-content button {
    cursor: pointer;
    color: #212121  ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    border-bottom: 1px solid var(--black);
    justify-content: center;
    font-size: 20px;
    letter-spacing: 1px;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: none;
    
  }
  
.dropdown-content button:hover {background-color: #212121; color: orange;}
.dropdown-content:hover .dropdown{
    background-color:#7d90b4 ;
}
.dropdown:hover .dropdown-content {
    display: block;
    -webkit-animation: slide-down .3s ease-in;
    -moz-animation: slide-down .3s ease-out;
  }
  @keyframes slide-down {
    0% { opacity: 0; -webkit-transform: translateY(-100%); }   
  100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes slide-down {
    0% { opacity: 0; -moz-transform: translateY(-100%); }   
  100% { opacity: 1; -moz-transform: translateY(0); }
}
.notification{
    cursor: pointer;
} 


  .search_course{
      float: right;
    width: 400px;
    height:45px;
    vertical-align:middle;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#193550;
    font-weight: 500;
    outline: none;
  }
  .search_course:focus{
      border: 1px double #332E3B;
  }
  @media only screen and (max-device-width: 480px) {
    .nav{
        display: table;
        width: 550px;
    }
    .nav ul{
        display: table;
        flex-direction: column;
    }
    .nav li{
        margin-top: 20px;
        margin-bottom: 20px;

    }
}
@media only screen and (max-device-width: 480px) {
    .logo{
        display: flex;
        border: 2px solid red;
        height: 150px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    .logo img{
        position: absolute;
        width: 80px;
        height: 80px;
    }
    .nav ul{
        width: 100%;
        margin-right: 10px;
    }
    .container{
        margin: 5px 90px;
        
    }
    .nav-container{
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        height: auto;
        padding: 20px 10px;
        grid-row-gap: 10px;
    }
    .sort .filter .reset .search_course{
        margin-top: 10px;
    }
    .reset{
        width: auto;
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        background-color: transparent;
        border-radius: 20px;
        padding: 0px 10px;
    } 
    .search_course{
        width: 100%;
    }  
}
.cartIcon, .wishlistIcon, .notificationIcon{
    position: relative;
    font-size: 35px;
}
.cartCounter, .wishlistCounter, .notificationCounter{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: auto;
    padding-top: 2px;
    margin: auto;
    background-color: #555454;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top:-10px;
    right: -15px;
    text-align: center;
}
.notificationCounter{
    right: -8px;

}

  li.bottom-line{
    border:none;
    position: relative;
  }
  li.bottom-line:hover{
    border: none;
  }
  
  .bottom-line::after{
    content: '';
    position: absolute;
    width: 0px;
    height: 2px;
    left: 50%;
    bottom:0;
    background-color: #FDFAF6;
    transition: all ease-in-out .4s;
  }
  .bottom-line:hover::after{
    width: 100%;
    left: 0;
  }