.toast-error{
    background-color: black;
    color: red;
    font-weight: 700;
}
.toast-container{
    background-color: orange;
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}